body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

nav {
    background-color: #38659b;
    height: max-content;
    display: flex;
}

nav .navSearch {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5% 1%;
    text-decoration: none;
    color: aliceblue;
    flex: auto;
}

nav .searchButton {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    object-fit: contain;
    flex: 0 0 44px;
}

nav #nav_search_extension {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 44px;
    flex: 1 1 auto;
    margin-left: 8px;
    padding: 0 8px;
    width: auto;
    display: none;
}

nav .navUser {
    display: flex;
    align-items: center;
    padding: 0.5% 1%;
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

.userMenu {
    position: fixed;
    display: none;
    min-width: 160px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 99999;
}

.userMenu a.userMenuItem {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.userMenu a.userMenuItem:hover {
    background: #f2f2f2;
}

nav .userButton {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    object-fit: contain;
    flex: 0 0 44px;
}

main {
    margin: auto;
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

section {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 40%;
}

form table {
    display: grid;
    place-items: center;
    text-align: ce;
    border: solid;
    padding: 1%;
}

form table td {
    padding: 1%;
}
form table * {
    margin: 5%;
}

.olvidado {
    text-decoration: none;
    text-align: left;
    float: left;
}

.registrarse {
    text-decoration: none;
    text-align: right;
    float: right;
}

footer {
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer span {
    float: left;
    margin-left: 1%;
}

footer a {
    float: right;
    margin-right: 1%;
    color: white;
}
